@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add any global styles here if needed */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
